{% extends 'base.html' %}
{% block content %}
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Prédire votre moyenne en mastères</h1>
          <h2>Choisir le mastère qui correspond au mieux à votres compétences</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#contact" class="btn-get-started scrollto">Essayez</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Comment peut-on aider les étudiants à faire le bon choix ?</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Un master constitue la dernière étape de vie universitaire avant l'intégration professionnelle. C’est un diplôme clé qui détermine le salaire de départ, les perspectives d'évolution et le type des responsabilités. Le choix du mastère demeure donc une décision très délicate, et peu d’étudiants reçoivent de l’aide ou de la documentation afin de faire le bon choix.		  
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              En effet, l'ESEN offre cinq différents masters, recherche et professionnel. Chaque master dispose de son propre programme. Ce qui rend le choix plus en plus difficile. Cette application, actuellement, s’inscrit dans ce cadre. 
            </p>
            <a href="#about-video" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


   <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Les mastères de l’ESEN</h2>
          <p> L’ESEN offre cinq mastères :</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" href="https://www.esen.tn/portail/parcours/mastere-professionel-en-data-science-and-software-development-9.html" class="collapse" data-bs-target="#faq-list-1">Mastère professionnel en Data Science and Software Development (DSSD) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
					a pour objectif d'apporter une formation approfondie sur la manière de concevoir, d’optimiser et d’implémenter des applications web et mobiles mais également des systèmes complexes, mettant en œuvre les technologies les plus récentes dans les domaines du « BIG DATA » et de la fouille de données.                 
				</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" href="https://www.esen.tn/portail/parcours/mastere-professionel-en-ebusiness-10.html" class="collapsed">Mastère professionnel en E-Business <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  L'objectif du mastère professionnel en E-Business est d'acquérir les compétences requises à l’exercice des métiers du E-Business, selon le référentiel métier.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" href="https://www.esen.tn/portail/parcours/mastere-professionel-en-veille-et-intelligence-competitive-11.html" class="collapsed">Mastère professionnel en Veille et Intelligence compétitive (VIC)<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  L'objectif du ce mastère est de former les étudiants aux nouveaux instruments de veille commerciale et concurrentielle ainsi qu’aux techniques managements et outils informatiques permettant la collecte, l'analyse et l'exploitation des informations.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" href="https://www.esen.tn/portail/parcours/mastere-professionel-en-controle-de-gestion-et-business-intelligence-17.html" class="collapsed">Mastère professionnel en Contrôle de Gestion et Business Intelligence (CGBI)  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
					Le master CGBI a pour objectif de former des cadres capables de concilier des compétences pointues en contrôle de gestion et en pilotage des organisations et une forte opérationnalité en business intelligence et en systèmes d’information, notamment décisionnels.
				</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" href="https://www.esen.tn/portail/parcours/mastere-de-recherche-en-web-intelligence-12.html" class="collapsed">Mastère de recherche en Web Intelligence (WI) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
					L'objectif de ce mastère est de former des spécialistes capables d’aborder des activités de recherche et d’ingénierie reliées aux domaines inhérents au Web Intelligence.                
				</p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


 <!-- ======= About Video Section ======= -->
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/about-video(2).jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <br><br><br>
            <h3>Prédire votre moyennes en mastères</h3>
            <p class="fst-italic">
			        Le but ultime de cette application est d'aider les étudiants à analyser objectivement leurs résultats en licence, et en se basant sur ces éléments, 
			        à prédire leurs moyennes à chaque master de l'ESEN pour rependre aux questions suivantes: 
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Quelle serait ma moyenne dans ce master? </li>
              <li><i class="bx bx-check-double"></i> Est-ce que mes scores me permettent de réussir dans ce master?</li>
            </ul>
            <p>
             Cette application permet donc aux étudiants de choisir le mastère qui correspond au mieux 
			 à leurs compétences et qui leur donné le plus de chance 
			 de réussite que possible. 
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Video Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Application intelligente destinée aux étudiants de licence. </h3>
          <p>Cette application permet de prédire les moyennes générales des étudiants de master en fonction de leurs résultats en licence. Ce futur système permet donc aux étudiants de choisir le mastère qui correspond au mieux à leurs compétences et qui leur donné le plus de chance de réussite que possible. </p>
          <a class="cta-btn" href="#contact">Try it</a>
        </div>
      </div>
    </section><!-- End Cta Section -->

 
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Formulaire à remplir</h2>
          <p>S'il vous plaît, entrez vos informations correctes</p>
        </div>


        <div class="row mt-5">
			<div class="col-lg-2 mt-5 mt-lg-0">
			</div>
          <div class="col-lg-8 mt-5 mt-lg-0">

         <form action="{{ url_for('predict')}}" method="post"  class="form-horizontal form-material mx-2">
         <div class="row">

					<div class="form-group mt-3">
						<h6>Gouvernorat de résidence</h6>
						<select class="form-control" id="Gouvernorat_de_résidence" name="Gouvernorat_de_résidence">
							<option value="1">Ariana</option>
							<option value="1">Ben Arous</option>
							<option value="4">Gabes</option>
							<option value="2">Jendouba</option>
							<option value="3">Kasserine</option>
							<option value="2">Le kef</option>
							<option value="1">La manouba</option>
							<option value="3">Monastir</option>
							<option value="3">Sfax</option>
							<option value="2">Seliana</option>
							<option value="4">Tataouine</option>                            
							<option value="1">Tunis</option>
							<option value="2">Bizerte</option>
							<option value="4">Gafsa</option>
							<option value="3">Kairouan</option>
							<option value="4">Kebili</option>
							<option value="3">Mahdia</option>
							<option value="4">Mednine</option>
							<option value="2">Nabeul</option>
							<option value="3">Sidi bouzid</option>
							<option value="3">Sousse</option>
							<option value="4">Tozeur</option>
							<option value="2">Béja</option>
							<option value="2">Zaghouan</option>
						</select>
					</div>

					<div class="form-group mt-3">
						<h6>Spécialité de Bac</h6>
						<select class="form-control" id="Bac_Nature" name="Bac_Nature" >
							<option value="1">Sciences informatiques</option>
							<option value="2">Économie et gestion</option>
							<option value="3">Mathématiques</option>
							<option value="4">Sciences expérimentales</option>
							<option value="5">Technique</option>
						</select>
					</div>
				  <div class="form-group mt-3">
					<h6>Année de Bac</h6>
					<input type="number" class="form-control" min="1990"  step="1" name="Bac_Année" id="Bac_Année" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne de Bac</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Bac_Moyenne" id="Bac_Moyenne" required>
				  </div>
				  <div class="form-group mt-3">
					<h6>Année de licence</h6>
					<input type="number" class="form-control" min="1990" step="1" name="Licence_Année" id="Licence_Année" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne des modules en informatique</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_Informatique" id="Licence_Moy_Informatique" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne des modules en Gestion</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_Gestion" id="Licence_Moy_Gestion" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne des modules en Mathématiques</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_Mathématiques" id="Licence_Moy_Mathématiques" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne des modules en langues et étiques de l'information</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_Langues_et_étiques_de_l'information" id="Licence_Moy_Langues_et_étiques_de_l'information" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne de 1er année licence</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_L1" id="Licence_Moy_L1" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne de 2ème année licence</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_L2" id="Licence_Moy_L2" required>
				  </div>
				  <div class="form-group mt-3">
				  	<h6>Moyenne de 3ème année licence</h6>
					<input type="number" class="form-control" min = "0" max = "20" step="0.01" name="Licence_Moy_L3" id="Licence_Moy_L3" required>
				  </div>	
					<div class="form-group mt-3"><button class="btn btn-primary  active" type="submit">Prédire</button></div>
					              
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock  %}